<div class="col-sm-2 col-md-4">
  <% cache product do %>
    <a href="#"><h1 class="record_name"><%= product.name %></h1></a>
    <%= image_tag(product.image_url, class: "img-responsive record_image") %>
    <p class="record_description"><%= product.description %></p>
    <p><%= product.price %></p>
    <p><%= link_to "Learn More", product %></p>
  <% end %>
</div>
