<p id="notice"><%= notice %></p>

<div class="row product-show-container">
  <div class="col-lg-6 show-img-container">
    <%= image_tag(@product.image_url, class: "img-responsive show-img") %>
    <p><%= @product.name %></p>
  </div>
  <div class="col-lg-6">
    <div class="show-description">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <p>
        <strong>Condition:</strong>
        <%= @product.condition %>
      </p>

      <p>
        <strong>Average Rating:</strong> <div class="rated" data-score="<%= @product.average_rating %>"></div>
      </p>
    </div>
  </div>

</div>

<div class="product-show-links">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>

<div class="show-comments">
  <%= render 'new_comment' %>
  <%= render 'comments'%>
</div>
